services:
  - type: web
    name: portfolio-backend
    env: python
    buildCommand: cd Portfolio_Project && pip install -r ../../requirements.txt && python manage.py collectstatic --noinput
    startCommand: cd Portfolio_Project && gunicorn Portfolio_Project.wsgi:application
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: portfolio-db
          property: connectionString
    healthCheckPath: /admin/

databases:
  - name: portfolio-db
    plan: free
    databaseName: portfolio
    user: portfolio

